@model StuMS.Models.NewMarkModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NewMarkModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maths" class="control-label"></label>
                <input asp-for="Maths" class="form-control" />
                <span asp-validation-for="Maths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Science" class="control-label"></label>
                <input asp-for="Science" class="form-control" />
                <span asp-validation-for="Science" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="English" class="control-label"></label>
                <input asp-for="English" class="form-control" />
                <span asp-validation-for="English" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
